ECU/SUT/
ECU/Solution/
test-*
*.vscenario
*.vtestunit
*.dll
environment-make/nodelayer/
test/vTESTstudio/*.settings
test/vTESTstudio/obj_LightControl

*.obj
*.c 
*.h
*.vtuexe
*.mak
*.log
ECU/Appl/GenDataVtt/*
*/*_workingCopy*
*/*/BFC
*.xml
*/*/Debug*