# VTT Files
*.zip
MakeParameters.xml
**/**/**/Log


**/Config/System/
**/**/**/Appl/GenDataVtt
**/**/**/Appl/Source/**
!Vtt_CustomVars_Cfg.h
SUT
Solution
*.stcfg 

**/**/*.ini

Default.venvironment
# Canoe Files

**/**/CANoe/Setup/_COData_Setup
**/CANoe/Setup/_COData_Setup
**/CANoe/_COData_*
*.sttse

**/CANoe/*.vtestreport
**/CANoe/*.settings
*.xpa


*.vtesettings
#**/**/CANoe/Setup/.vtesettings

# vTESTStudio Temporary and local files
**/*_Testing/*.settings
**/*_Testing/*.lastbuild
**/*_Testing/obj_*

*.cbf

*.vtuexe

# CANoe Compilation Temporary Files
**/**/CANoe/Setup/.run



**/CANoe/.run
# CANoe Output Files
**/**/CANoe/Setup/Report_*.html
**/**/CANoe/Setup/Report_*.xml

**/CANoe/Setup/Report_*.html
**/CANoe/Setup/Report_*.xml

# CANoe4SW SE Compilation Temporary Files
*.vscenario
*.vtestunit

# CANoe4SW SE Runtime files
canoe4sw-se-runtime

# Davinci Developer Files

*.xml
*.xsd
*.dvg

# Testing files 

**/SystemTests/*.settings
**/SystemTests/*.lastbuild
**/SystemTests/obj_*

#**/**/_COData*

#**/**/*.vvarprop

# Backup Files
*.bak

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.dll.gen
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# VTT Schema
!VttMakeFileSchema_4_1.xsd